html {
    height:100%;   
}

body {
    background: url('/media/hiking-4369332_1920.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 160px);
    color: #142126;
    font-family: 'Cabin';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.blue-background {
    background-color: #B9DEED;
}

.dark-background {
    background-color: #142126;
}

.bg-red {
    background-color: red;
}

.text-shadow {
    text-shadow: 2px 2px black !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* buttons */
.shop-button {
    background: red;
    color: white;
    min-width: 230px;
}

.btn-dark {
    background: #142126;
    color: #B9DEED;
}

.shop-button:hover,
.shop-button:active,
.shop-button:focus,
.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
    background: #50542A;
    color: white;
}

.text-dark {
    color: #142126 !important;
}

.border-green {
    border: 1px solid #142126 !important;
}

.navbar {
    padding: 0.5rem 0.5rem !important;
}
/* -------------------------------- Media Queries */

/* Larger container on extra large screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 160px;
    }
}

/* padding added to the top when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}